SERVER_HOST=
SERVER_PORT=
SERVER_WORKERS=
SERVER_NAME=http://0.0.0.0:8096

SECRET_KEY=
API_HOST=0.0.0.0:8096

LOG_LEVEL=DEBUG

# Password for encrypt authenticate
JWT_PASSWORD=

ETH_API_KEY=
BSC_API_KEY=
POLYGON_API_KEY=

MONGODB_CONNECTION_URL=
MONGODB_DATABASE=

BLOCKCHAIN_ETL_CONNECTION_URL=

MONGODBKLG_CONNECTION_URL=

MONGODB_COMMUNITY_CONNECTION_URL=
